
/* transition */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 2s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.bounce-enter-active {
  animation: bounce-in 0.8s;
}

.bounce-leave-active {
  animation: bounce-out 0.5s;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounce-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(0);
  }
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(30px, 0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-30px, 0);
}

.slide-left-enter-active {
  transition: all .5s ease;
}

.slide-left-leave-active {
  transition: all .0s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-left-enter {
  transform: translateX(-1000px);
  opacity: 0;
}

.slide-left-leave-to {
  transform: translateX(1000px);
  opacity: 0;
}

.slide-right-enter-active {
  transition: all .5s ease;
}

.slide-right-leave-active {
  transition: all .0s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-right-enter {
  transform: translateX(1000px);
  opacity: 0;
}

.slide-right-leave-to {
  transform: translateX(-1000px);
  opacity: 0
}
